/*  ---------------------------------------------------------------------------- Reset */
html, body, fieldset{ margin:0; padding:0; }
body { line-height:1em; }
ol, ul { list-style:none; margin:0; padding: 0px; }
table { border-collapse:separate; border-spacing:0; }
a img, fieldset{border:none;}


/*  ---------------------------------------------------------------------------- Base */
html{overflow-y:scroll;height:100%;}
body{ font: 12px/normal Verdana, Arial, Helvetica, sans-serif; padding:10px}
a{color:#709DE7;text-decoration:none;}
a:hover, a:active {color:#668fd1;text-decoration:none;}
h1 { font-size:1.5em; margin:1em 0 0.5em; }
h2 { font-size:1.2em; margin:1em 0 0.5em; }
h3 { font-size:1.1em; margin:1em 0 0.5em; }
p {margin: 12px 0px;}
em { font-style:italic; }
strong { font-weight:bold; }